/*
*   CSS stylesheet for animated elements
*/

/*
* Image Carousel Animation
*/
.carousel-img {
    transform: translateX(0);
    transition: 500ms;
}

.carousel-img-right {
    transform: translateX(-50%);
}

.carousel-img-left {
    transform: translateX(0%);
}

.btn-visibility {
    visibility: visible;
}

.btn-hide {
    visibility: hidden;
}