/* CSS Stylesheet for Modest Mills webpage */

html, body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
    color:black;
}

p, h1, h2 {
    margin: 0 0;
    padding: 0% 0%;
}

form {
    margin-top: 2%;
}

label {
    text-transform: uppercase;
}


/* Group Styles */
.content-text {
    padding: 2% 0% 5% 3%;
    width: 100%;
}

.img-gallery {
    font-size: 0;
    width: 100%;
}

.flex {
    display: flex;
}


/* Header style */
#header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 2px 5px grey;
    position: relative;
}

#logo {
    flex: 1 1 0;
}

#header-logo {
    align-self: center;
}

/* Navigation Links */
#header-nav {
    flex: 1 1 0;
    text-transform: uppercase;
}

#user-options {
    display: flex;
    justify-content: flex-end;
}

#nav-links {
    min-width: 1000px;
    display: flex;
    justify-content: flex-end;
}

.nav {
    margin: auto 1%;
    padding: 1% 2%;
}

.nav:hover {
    color: red;
    text-decoration: underline;
}

#hero-header {
    overflow: hidden;
    background-color: lightgray;
    background-image: url("../images/pexels-mariana-kurnyk-1775043.jpg");
    background-repeat: no-repeat;
    background-position: 0px -300px;
    background-attachment: fixed;
    background-size: 150% auto;
}

#header-text {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    padding: 150px 2%;
}

.button {
    max-width: 80%;
    padding: 2% 2%;
    background-color: red;
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
    border-radius: 30px;
    text-align: center;
}

.alt-button {
    background-color: orange;
    margin: 0;
    padding: 1% 3%;
    max-width: 30%;
}


/* Body Content Styles */
#body-1 {
    padding: 1% 5% 2%;
    background-color: white;

}

.main-title {
    color: red;
    size: 20px;
}

.img-resize {
    width: 150px;
    height: 150px;
}

.img-resize-alt {
    width: 150px;
    height: 150px;
}

.about-title {
    color: orange;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

.about-us {
    margin-top: 2%;
    margin-bottom: 1%;
}

#b1-content2 {
    padding: 0% 3%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

#fanfav-title {
    margin-top: 0;
    margin-bottom: 1%;
}

#about-link {
    text-align: center;
}

#body-2 {
    background-image: linear-gradient(orange, red);
}

#body2-content1 {
    text-align: center;
}

#body2-content2 {
    display: flex;
    margin-top: 5%;
}

#input-form {
    align-self: center;
    flex-grow:1;
    padding-left: 10%;
}

.body2-title {
    font-size: 50px;
    padding: 1% 0%;
    color: white;
}

.img-portrait {
    margin: auto;
    width: 310px;
    padding: 0 0;
}

#form-img {
    max-width: 550px;
    height: auto;
    flex-grow: 2;
}

.form-entry-box {
    margin: 2% 0%;
    width: 375px;
    height: 25px;
    border-radius: 35px;
    border:none;
}

.form-label,.form-text {
    color: white;
}

.form-text {
    font-size: 14px;
}

#submit-button {
    width: 125px;
    padding: 1% 2%;
    color: white;
    background-color: black;
    border-radius: 35px;
    border: none;
    text-transform: uppercase;
}

#body2-content3 {
    width: 100%;
}

#hashtag-title {
    text-align: center;
}

.img-stretch {
    align-content: stretch;
}

.img-hashtag {
    width: 100%;
    height: 250px;
}

/* Content */
.center {
    text-align: center;
}

.wrapper {
    width: 100%;
    flex: 1 1 0;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
    background-color: red;
}
.contact-info {
    color: white;
    display: block;
}

.footer-link, .contact-text {
    padding: 2% 0%;
}

#contact-title, .sub-title {
    color: yellow;
}
