/* CSS Stylesheet for Modest Mills webpage */

html, body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
    color:black;
}

p, h1, h2 {
    margin: 0 0;
    padding: 0% 0%;
}


/* Group Styles */
.content-text {
    padding: 2% 0% 5% 3%;
    width: 100%;
}

.img-gallery {
    font-size: 0;
    width: 100%;
}


/* Header style */
#header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 2px 5px grey;
    position: relative;
}

#header-logo {
    flex: 2 1 0;
}

/* Navigation Links */
#header-nav {
    flex: 1 1 0;
    text-transform: uppercase;
}

#user-options {
    display: flex;
    justify-content: flex-end;
}

#nav-links {
    min-width: 1000px;
    display: flex;
    justify-content: flex-end;
}

.nav {
    margin: auto 1%;
    padding: 1% 2%;
}

.nav:hover {
    color: red;
    text-decoration: underline;
}

#hero-header {
    overflow: hidden;
    background-color: lightgray;
    background-image: url("../images/pexels-mariana-kurnyk-1775043.jpg");
    background-repeat: no-repeat;
    background-position: 0px -300px;
    background-attachment: fixed;
    background-size: 150% auto;
}

#header-text {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    padding: 150px 2%;
}

.button {
    max-width: 80%;
    padding: 2% 2%;
    background-color: red;
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
    border-radius: 30px;
    text-align: center;
}

.alt-button {
    background-color: orange;
    margin: 0;
    padding: 1% 3%;
    max-width: 30%;
}


/* Body Content Styles */
#body-1 {
    padding: 2% 5%;
    background-color: white;

}

.img-resize {
    width: 150px;
    height: 150px;
}

#b1-content2 {
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

#about-link {
    text-align: center;
}

#body-2 {
    background-image: linear-gradient(orange, red);
}

#body2-content1 {
    text-align: center;
}

#body2-content2 {
    display: flex;
    margin-top: 5%;
}

#input-form {
    align-self: center;
    flex-grow:2;
    padding-left: 10%;
}

.img-portrait {
    margin: auto;
    width: 270px;
    padding: 0 0;
}

#body2-content3 {
    text-align: center;
}

/* Content */
.center {
    text-align: center;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
    background-color: red;
}

#contact-links {
    display: block;
}
