/* CSS Stylesheet for Modest Mills webpage */

html, body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
    color:black;
}

p, h1, h2 {
    margin: 0 0;
    padding: 0% 0%;
}

img {
    width: 500px;
    height: auto;
}

/* Header style */
#header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 2px 5px grey;
    position: relative;
}

#header-logo {
    flex: 2 1 0;
}

/* Navigation Links */
#header-nav {
    flex: 1 1 0;
    text-transform: uppercase;
}

#user-options {
    display: flex;
    justify-content: flex-end;
}

#nav-links {
    min-width: 1000px;
    display: flex;
    justify-content: flex-end;
}

.nav {
    margin: auto 1%;
    padding: 1% 2%;
}

.nav:hover {
    color: red;
    text-decoration: underline;
}

#hero-header {
    min-height: 100px;
    min-width: 1500px;
    background-color: lightgray;
    background-image: url("../images/pexels-mariana-kurnyk-1775043.jpg");
    background-repeat: no-repeat;
    background-position: 0px -300px;
    background-attachment: fixed;
    background-size: 150% auto;
}

#header-text {
    max-width: 20%;
    padding: 200px 2%;
}

.button {
    max-width: 80%;
    margin: 5% 0% 0% 2%;
    padding: 2% 2%;
    background-color: red;
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
    border-radius: 25px;
    text-align: center;
}


/* Body Content Styles */
#body-1 {
    background-color: white;

}

.img-resize {
    width: 150px;
    height: 150px;
}

#body-2 {
    background-image: linear-gradient(orange, red);
}

/* Footer */
footer {
    display: flex;
    background-color: red;
}